.dtProfilerPlaceHolder,
.dtProfilerBar {
    width: 100%;
    min-height: 40px;
    font-size:14px;
}

#dtProfilerOther .isParent {
    color: #fff;
}

#dtProfilerOther .isParent:not(:last-child){
    border-top-left-radius: 10px;
}

#dtProfilerOther .isParent:not(:first-child){
    border-bottom-left-radius: 10px;
}

#dtProfilerOther .isParent > a {
    display:block;
    color: #fff;
    font-size:14px;
    padding: 6px;
}

#dtProfilerOther .isParent > a > .fa-angle-down{
    font-size:12px;
}

.dtProfilerOtherSubChild,
.dtProfilerOtherSub {
    position: absolute;
    background: rgb( var(--theme-area_background_reset) );
    box-shadow: var(--popup--boxShadow);
}

.dtProfilerOtherSub a {

    color:rgb( var(--theme-link) );
}
.celProfileMyapps .dtProfilerOtherSub a {
    width:100%;
    display: block;
    padding:5px;
}
.ipsDarkMode .dtProfilerOtherSub a {
    color:#fff;
}

.dtActive,
.dtProfileOtherSubsItem > a:hover{
    color: #fff !important;
    background: rgb(var(--theme-text_light))
}

.dtProfileOtherSubsItem {
    width:220px;
}

.dtProfilerOtherSubChildSystem {
    color:rgb( var(--theme-link) );
    width:300px;
}

.dtProfilerOtherSubChildSystem .ipsPos_left {
    display:inline-block;
    vertical-align: top;
}

.ipsDarkMode.ipsApp_admin .dtProfilerOtherSubChildSystem {
    color: #fff;
}

#dtProfilerOther {
    position: fixed;
    top:35%;
    right:0;
}

.dtProfilerOtherSub,
.dtProfilerOtherSubChild {
    top:0;
    right:45px;
    background: #ffffff;
    border: 1px solid #ffffff;
}

.dtProfilerOtherSubChild:after,
.dtProfilerOtherSubChild:before,
.dtProfilerOtherSub:after,
.dtProfilerOtherSub:before {
    left: 100%;
    top: 15px;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.dtProfilerOtherSub:after,
.dtProfilerOtherSubChild:after {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 10px;
    margin-top: -10px;
}

.dtProfilerOtherSub:before,
.dtProfilerOtherSubChild:before {
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #ffffff;
    border-width: 11px;
    margin-top: -11px;
}

.ipsDarkMode .dtProfilerOtherSub,
.ipsDarkMode .dtProfilerOtherSubChild {
    background: var(--c1);
    border: 1px solid var(--c1);
}

.ipsDarkMode .dtProfilerOtherSub:after,
.ipsDarkMode .dtProfilerOtherSubChild:after {
    border-left-color: var(--c1);
}

.ipsDarkMode .dtProfilerOtherSub:before,
.ipsDarkMode .dtProfilerOtherSubChild:before {
    border-left-color: var(--c1);
}

.dtProfilerBar {
    position:fixed;
    z-index:1500;
    bottom: 0;
    background: #18171B;
}

.dtProfilerPlaceHolder
{
    position:absolute;
}

.dtProfilerTime {
    background: #33cc33;
}

.dtProfilermemory {
    background: #00aaff;
}

.dtProfilerfiles {
    background: #ff751a;
}

.dtProfilerTemplates{
    background:   #00cccc;
}

.dtProfilerCSS {
    background:  #1a8cff;
}

.dtProfilerjs {
    background:   #4d4dff;
}

.dtProfilerjsvars {
    background:   #c44dff;
}

.dtProfilerQueryLog {
    background:  #00b300;
}

.dtProfilerCacheLog {
    background:  #cc9900;
}
.celProfileMyapps{
    background: #3A01DF;
}
.dtProfilerlogs {
    background: #990033;
}
.celProfileSystem,
.dtProfilerenvironment{
    background: #ff8000;
}

.dtProfilerdebug {
    background: #99ccff;
}

.dtProfilerexecutions {
    background: #478f79;
}
.dtProfileFirst a,
.dtProfileFirst {
    float: left;
    padding: 0 3px;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
}

.dtProfilerBar_database a {
    word-wrap: break-word;
}


.dtProfilerBar_cache,
.dtProfilerBar_database,
.dtProfilerBar_templates,
.dtProfilerBar_generic,
.dtProfilerBar_search {
    max-height: 400px;
    position: absolute;
    /*bottom: 40px;*/
    background: #18171B;
    min-width: 250px;
}

.dtProfilerBar_search {
    height:400px;
}

.dtProfilerBar_cache,
.dtProfilerBar_database,
.dtProfilerBar_templates,
.dtProfilerBar_generic,
.dtProfilerBar_search_ul{
    overflow-x: auto;
}

.dtProfilerBar_search_ul {
    max-height:300px;
}

.dtProfilerBar_cache li,
.dtProfilerBar_database li,
.dtProfilerBar_templates li {
    text-align: left;
    padding-right:20px;
}

#elProfilefiles_list a,
.dtProfilerBar_cache a,
.dtProfilerBar_templates a {
    display: block;
    padding: 5px 10px;
}

.dtProfilerBar_search_ul a,
#elProfilelogs_list a,
#elProfilefiles_list a,
.dtProfilerBar_cache a,
.dtProfilerBar_templates a,
.dtProfilerBar_generic a,
.dtProfilerBar,
.dtProfilerBar_database span.lit {
    color: #ffff1a;
}
.dtProfileFirst a,
.dtProfilerBar li,
.dtProfilerBar_database span.pln,
.dtProfilerBar_database span.kwd,
.dtProfilerBar_database h3,
.dtProfilerBar_database,
.dtProfilerBar_database a,
.dtProfilerInfoBar a {
    color:#fff;
}

.dtProfilerBar_database {
    /*background: white;*/
}

#elProfiledebug_list h4,
#elProfiledebug_list .sf-dump {
    margin:0;
    margin-bottom:5px;
}

#elProfiledebug_list li,
.dtProfilerBar_database li {
    border-bottom: 1px solid #fff;
}

.dtProfilerBar_generic .ipsColumn_wide{
    padding: 7px 0 0 7px !important;
}

.dtProfilerInfoBar div {
    padding:5px 5px;
    float:left;
    font-size: 10px;
}

.dtProfilerMaxWidth {
    width:100%;
}

#elProfileLogs_list > li {
    border-bottom:solid 1px #fff;
}

/* Flash class and keyframe animation */
.dtprofilerFlash{
    background:#ff0000;
    -webkit-animation: dtprofilerFlash linear 2s infinite;
    animation: dtprofilerFlash linear 2s infinite;
}

@-webkit-keyframes dtprofilerFlash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

@keyframes dtprofilerFlash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}
.dtProfilerClearConsoleLog,
.dtProfilerClear span {
    display:block;
    cursor:pointer;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background: #ff0000;
}
.dtProfilerClear span {
    padding:10px 0;
}
.dtprofilerEnabled {
    color: #00ff00;
    padding-left:10px;
}



.dttProfilerInfoGit div,
.dtProfilerInfoBarPanel a {
    font-size:10px;
    display:inline-block;
    padding:2px 5px;

}

.dtProfilerInfoBarPanel a {
    background:#fff;
    color: #000;
}

.dttProfilerInfoGit div:not(.lds-facebook) {
    background:  #1a8cff;
    color: #fff;
    cursor: default;
    font-size:10px;
}

.dttProfilerInfoGitLoading {
    height:10px;
    width:100px;
}

.dtProfilerSearch {
    padding:10px;
    color:#fff;
}

.dtProfilerSearch > span {
    width:250px;
    display:block;
    float:right;
}

.dtProfilerSearch input {
    width:200px!important;
}

.dtProfilerNumber {
    color:#cc33ff !important;
}

.dtProfilerBool {
    color:#ff9933;
}

.dtProfilerString {
    color:#ff5500;
}
.dtprofilerDisabled {
    color:#FF0000;
    padding-left:10px;
}
.dtProfilerBar .ipsMenu_innerContent,
.toolboxPhpInfo a,
.toolboxPhpInfo a:link {color: #000; text-decoration: none;}
.ipsDarkMode .dtProfilerBar .ipsMenu_innerContent,
.dtProfileExtra {
    color:#fff !important;
}

.dtProfilerSearch .ipsColumn_fluid {
    word-wrap: normal;
    word-break: break-word;
}
#elProfileConsoleLog_list li:not(.notme),
.dtProfilerBar_search_ul > li,
#elProfilelogs_list > li {
    border-bottom: #fff 1px solid;
}


.toolboxPhpInfo {font-family: sans-serif !important; font-size: 16px;}

.toolboxPhpInfo a:hover {text-decoration: underline;}
.toolboxPhpInfo pre {
    margin: 0;
    font-family: monospace;
}
.toolboxPhpInfo table {
    border-collapse: collapse;
    border: 0;
    width: 934px;
    box-shadow: 1px 2px 3px #ccc;
}
.toolboxPhpInfo .center {
    text-align: center;
}
.toolboxPhpInfo .center table {
    margin: 1em auto;
    text-align: left;
}
.toolboxPhpInfo .center th {
    text-align: center !important;
}
.toolboxPhpInfo td,
.toolboxPhpInfo th {
    border: 1px solid #666;
    font-size: 75%;
    vertical-align: baseline;
    padding: 4px 5px;
}
.toolboxPhpInfo h1 {
    font-size: 150%;
}
.toolboxPhpInfo h2 {
    font-size: 125%;
}
.toolboxPhpInfo .p {
    text-align: left;
}
.toolboxPhpInfo .e {
    background-color: #87C1FA;
    width: 300px;
    font-weight: bold;
}
.toolboxPhpInfo .h {
    color: #fff;
    background-color: #3399FF;
    font-weight: bold;
}
.toolboxPhpInfo .v {
    max-width: 300px;
    overflow-x: auto;
    word-wrap: break-word;
}
.toolboxPhpInfo .v i {
    color: #999;
}
.toolboxPhpInfo img {
    float: right;
    border: 0;
}
.toolboxPhpInfo hr {
    width: 934px;
    background-color: #ccc;
    border: 0;
    height: 1px;
}
.dtProfilerSearch input {
    color:#000!important;
}

#elTabs_sources_tabs li {
    min-width:200px;
}
.dtProfileMinHeight {
    min-height:400px;
}
#elProfileConsoleLog_list {
    border-color: #fff;
}

#elProfileConsoleLog_list .ipsTable th {
   background:transparent;
    color:inherit;
    border: 1px solid;
}

#elProfileConsoleLog_list .dtProfilerTypetable
{
    background:rgba(189, 189, 189,0.3);
}

#elProfileConsoleLog_list .dtProfilerTypeassert
{
    background:rgba(211, 88, 247,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypecount
{
    background:rgba(88, 250, 244,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypeerror
{
    background:rgba(250, 88, 88,0.6);
}
#elProfileConsoleLog_list .dtProfilerTypegroupCollapsed,
#elProfileConsoleLog_list .dtProfilerTypegroup
{
    background:rgba(88, 250, 88,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypeinfo
{
    background:rgba(88, 172, 250,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypetimeEnd
{
    background:rgba(4, 95, 180,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypetrace
{
    background:rgba(4, 180, 4,0.6);
}

#elProfileConsoleLog_list .dtProfilerTypetimeEnd .warning {
    padding:5px;
}

#elProfileConsoleLog_list .dtProfilerTypetimeEnd .warning,
#elProfileConsoleLog_list .dtProfilerTypewarn
{
    background:rgba(180, 4, 4,0.6);
}

.dtProfilerAdded {
    background: #c1eab9;
    color: #124d06;
}
.dtProfilerRemoved {
    background: #f2acac;
    text-ecoration: none;
    color: #5c1414;
}

#elDtProfilerDiffs .ipsPos_right {
    margin-bottom:5px;
}
#elDtProfilerDiffs textarea {
    height:400px;
}

.PopUpForm {
    padding: 0 var(--sp-4) var(--sp-4) var(--sp-4);
}
.PopUpForm [type="submit"] {
    float:right;
}
.ipsPageAction{
    bottom:100px;
}

.dtProfilerDevCenter .ipsTabs_item {
    border-radius: var(--radius-2);
}

.dtProfilerDevCenter.ipsTabs [role="tablist"] {
    display:block;
}

.dtProfilerBacktrace {
    margin-top:10px;
    font-size: 10px;
}
.dtProfilerDatabase a,
.dtProfilerDatabase a:hover,
.dtProfilerLog a,
.dtProfilerLog a:hover{
    color:#800;
}
/*html[dir] .dtProfilerDevCenterTabs .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label,*/
/*html[dir] .dtProfilerDevCenterTabs .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title,*/
/*html[dir] .dtProfilerDevCenterTabs .ipsForm_vertical .ipsFieldRow > .ipsFieldRow_label,*/
/*html[dir] .dtProfilerDevCenterTabs .ipsForm_vertical .ipsFieldRow > .ipsFieldRow_title {*/
/*    float: left;*/
/*     min-width: unset;*/
/*    font-size: 14px;*/
/*    font-weight: 500;*/
/*    text-align: left;*/
/*    width:200px;*/
/*}*/
/*.dtProfilerDevCenterTabs .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_label,*/
/*.dtProfilerDevCenterTabs .ipsForm_horizontal .ipsFieldRow > .ipsFieldRow_title {*/
/*    width: unset;*/
/*}*/
/*.dtProfilerDevCenterTabs .ipsField_stackItem .ipsField_autocomplete input[type="text"]:not(.ipsField_stackItemNoMargin){*/
/*    margin-left:0;*/
/*    padding-left:0;*/
/*}*/



.json-formatter-row {
    font-family: monospace;
}
.json-formatter-row,
.json-formatter-row a,
.json-formatter-row a:hover {
    color: black;
    text-decoration: none;
}
.json-formatter-row .json-formatter-row {
    margin-left: 1rem;
}
.json-formatter-row .json-formatter-children.json-formatter-empty {
    opacity: 0.5;
    margin-left: 1rem;
}
.json-formatter-row .json-formatter-children.json-formatter-empty:after {
    display: none;
}
.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-object:after {
    content: "No properties";
}
.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-array:after {
    content: "[]";
}
.json-formatter-row .json-formatter-string,
.json-formatter-row .json-formatter-stringifiable {
    color: green;
    white-space: pre;
    word-wrap: break-word;
}
.json-formatter-row .json-formatter-number {
    color: blue;
}
.json-formatter-row .json-formatter-boolean {
    color: red;
}
.json-formatter-row .json-formatter-null {
    color: #855A00;
}
.json-formatter-row .json-formatter-undefined {
    color: #ca0b69;
}
.json-formatter-row .json-formatter-function {
    color: #FF20ED;
}
.json-formatter-row .json-formatter-date {
    background-color: rgba(0, 0, 0, 0.05);
}
.json-formatter-row .json-formatter-url {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.json-formatter-row .json-formatter-bracket {
    color: blue;
}
.json-formatter-row .json-formatter-key {
    color: #00008B;
    padding-right: 0.2rem;
}
.json-formatter-row .json-formatter-toggler-link {
    cursor: pointer;
}
.json-formatter-row .json-formatter-toggler {
    line-height: 1.2rem;
    font-size: 0.7rem;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;
    padding-right: 0.2rem;
}
.json-formatter-row .json-formatter-toggler:after {
    display: inline-block;
    transition: transform 100ms ease-in;
    content: "►";
}
.json-formatter-row > a > .json-formatter-preview-text {
    opacity: 0;
    transition: opacity 0.15s ease-in;
    font-style: italic;
}
.json-formatter-row:hover > a > .json-formatter-preview-text {
    opacity: 0.6;
}
.json-formatter-row.json-formatter-open > .json-formatter-toggler-link .json-formatter-toggler:after {
    transform: rotate(90deg);
}
.json-formatter-row.json-formatter-open > .json-formatter-children:after {
    display: inline-block;
}
.json-formatter-row.json-formatter-open > a > .json-formatter-preview-text {
    display: none;
}
.json-formatter-row.json-formatter-open.json-formatter-empty:after {
    display: block;
}
.json-formatter-dark.json-formatter-row {
    font-family: monospace;
}
.json-formatter-dark.json-formatter-row,
.json-formatter-dark.json-formatter-row a,
.json-formatter-dark.json-formatter-row a:hover {
    color: white;
    text-decoration: none;
}
.json-formatter-dark.json-formatter-row .json-formatter-row {
    margin-left: 1rem;
}
.json-formatter-dark.json-formatter-row .json-formatter-children.json-formatter-empty {
    opacity: 0.5;
    margin-left: 1rem;
}
.json-formatter-dark.json-formatter-row .json-formatter-children.json-formatter-empty:after {
    display: none;
}
.json-formatter-dark.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-object:after {
    content: "No properties";
}
.json-formatter-dark.json-formatter-row .json-formatter-children.json-formatter-empty.json-formatter-array:after {
    content: "[]";
}
.json-formatter-dark.json-formatter-row .json-formatter-string,
.json-formatter-dark.json-formatter-row .json-formatter-stringifiable {
    color: #31F031;
    white-space: pre;
    word-wrap: break-word;
}
.json-formatter-dark.json-formatter-row .json-formatter-number {
    color: #66C2FF;
}
.json-formatter-dark.json-formatter-row .json-formatter-boolean {
    color: #EC4242;
}
.json-formatter-dark.json-formatter-row .json-formatter-null {
    color: #EEC97D;
}
.json-formatter-dark.json-formatter-row .json-formatter-undefined {
    color: #ef8fbe;
}
.json-formatter-dark.json-formatter-row .json-formatter-function {
    color: #FD48CB;
}
.json-formatter-dark.json-formatter-row .json-formatter-date {
    background-color: rgba(255, 255, 255, 0.05);
}
.json-formatter-dark.json-formatter-row .json-formatter-url {
    text-decoration: underline;
    color: #027BFF;
    cursor: pointer;
}
.json-formatter-dark.json-formatter-row .json-formatter-bracket {
    color: #9494FF;
}
.json-formatter-dark.json-formatter-row .json-formatter-key {
    color: #23A0DB;
    padding-right: 0.2rem;
}
.json-formatter-dark.json-formatter-row .json-formatter-toggler-link {
    cursor: pointer;
}
.json-formatter-dark.json-formatter-row .json-formatter-toggler {
    line-height: 1.2rem;
    font-size: 0.7rem;
    vertical-align: middle;
    opacity: 0.6;
    cursor: pointer;
    padding-right: 0.2rem;
}
.json-formatter-dark.json-formatter-row .json-formatter-toggler:after {
    display: inline-block;
    transition: transform 100ms ease-in;
    content: "►";
}
.json-formatter-dark.json-formatter-row > a > .json-formatter-preview-text {
    opacity: 0;
    transition: opacity 0.15s ease-in;
    font-style: italic;
}
.json-formatter-dark.json-formatter-row:hover > a > .json-formatter-preview-text {
    opacity: 0.6;
}
.json-formatter-dark.json-formatter-row.json-formatter-open > .json-formatter-toggler-link .json-formatter-toggler:after {
    transform: rotate(90deg);
}
.json-formatter-dark.json-formatter-row.json-formatter-open > .json-formatter-children:after {
    display: inline-block;
}
.json-formatter-dark.json-formatter-row.json-formatter-open > a > .json-formatter-preview-text {
    display: none;
}
.json-formatter-dark.json-formatter-row.json-formatter-open.json-formatter-empty:after {
    display: block;
}
.dtcode_warning {
    background-color:var(--intermediate-dark)!important;
    color:#fff!important;
}

.dtcode_error {
    background-color:var(--negative-dark)!important;
    color:#fff!important;
}
.dtcode_warning a:hover,
.dtcode_warning a,
.dtcode_error a:hover,
.dtcode_error a {
    color:#fff!important;
}